.nav-link span {
  padding:15px;
}

a {
  color: white;
}

ul li {
 margin-bottom: 15px
}

.selected {
  border-left: solid 5px white;
}

.table-background, input, .background-white {
  background-color: #FFFBF8 !important;
}

.wrapper {
  display: flex;
  height: 100vh;
}

body {
  background: #EBE3DB;
}

.container {
  margin: 30px;
  background: #FFFBF8;
  width: 100% !important;
  max-width: 9999px !important;
}


h1 {
  color: #6E4C46;
}

.search-container {
  display: flex;
  align-items: center;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
}

.search-icon {
  margin-right: 5px;
  color: #999;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
}

.search-button {
  margin-left: 5px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  width:150px;
  height:50px;
}