*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    height: 100vh;
    background-color: #ebe3db;
    grid-template-columns: 0.1fr 1.9fr;
    grid-template-rows: 0.15fr 1.85fr;
    grid-template-areas: "nav nav nav nav"
                        "sidebar content content content"
                        "sidebar content content content"
                        "sidebar content content content";
}


/*CSS DO MENU PRINCIPAL */
#nav{
    background-color: #ffffff;
    grid-area: nav;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.botao_esquerdo img{
    width: 30px;
    height: 30px;
}
.botao_esquerdo{
    width: 100%;
    text-align: left;
    margin-left: 30px;
}
.botao_esquerdo button{
    background-color: #ffffff;
    border: none;
}
.botoes_direito img{
    width: 20px;
    height: 20px;
}
.botoes_direito{
    width: 100%;
    text-align: right;
    margin-right: 50px;
    white-space: nowrap;
}
.botoes_direito button{
    background-color: #ffffff;
    border: none;
    margin-right: 10px;
}
/*CSS DO MENU PRINCIPAL */



/*CSS DA BARRA LATERAL */
#sidebar{
    background-color: #68443e;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 6px;
}

#sidebar a{
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
}

#sidebar img{
    width: 25px;
    height: 25px;
    filter: invert(100);
}

#sidebar h3{
    color: #ffffff;
    font-size: 12px;
}
/*CSS DO MENU PRINCIPAL */



/*CSS DO CONTEUDO */
#content{
    background-color: #ffffff;
    grid-area: content;
    margin: 15px;
}
#content h2{
    padding: 10px;
    color: #68443e;
    border-bottom: thin solid #8e726c;
}

.submenu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.submenu button{
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border-color: #68443e;
    background-color: #68443e;
    color: #ffffff;
    font-size: 16px;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.form_box{
    animation: myAnim 0.15s linear 0s 1 normal forwards;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ebe3db;
    
}

.form_box .div_form{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
}
.form_box input,
.form_box textarea{
    height: 48px;
    padding-left: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    font-size: 12px;
}
.form_box button{
    border: none;
    outline: none;
    width: 70px;
    height: 25px;
    border-radius: 5px;
    background-color: #ffc387;
    color: #976c55;
}
.esconder{
    display: none!important;
}
.table_box{
    display: flex;
}
table {
    text-align-last: center;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th {
    color: #7f6059;
  }
  td {
    color: #7f6059;
  }
  td, th {
    border-bottom: 1px solid #c4b4b4;
    text-align: left;
    padding: 8px;
  }

  tr:hover {
    background-color: #ebe3db;
  }

.input_pesquisar{
    width: 500px;
    height: 35px;
}
/*CSS DO MENU PRINCIPAL */